.Comment {
	display: flex;
	background: #fff;
}

.Comment-col-avatar {
	padding-right: 1rem;
}

.Comment-col-main {
	border: 1px solid #bfe7f3;
	border-radius: 3px;
	flex-grow: 1;
	overflow: hidden;
}
