.Ticket-main {
	display: flex;
}
.Ticket-timeline {
	flex-grow: 1;
	width: 80%;
}

.Ticket-header {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #e5f5fa;
}

.Ticket-main > .TicketStatus {
	width: 18%;
	margin-left: 2%;
	flex-shrink: 0;
}
