.TicketListItem > .col-type {
	width: 2rem;
	color: #f9a87e;
}

.TicketListItem > .col-type.type-bug {
	color: #ea8484;
}
.TicketListItem > .col-type.type-enhancement {
	color: #90d296;
}

.TicketListItem > .col-main small {
	font-size: 0.85em;
	color: #72777C;
}

.TicketListItem-detail-title-block {
	display: flex;
}

.TicketListItem-detail-tags {
	margin-left: 0.5em;
	flex-shrink: 0;
}

.TicketListItem-detail-milestone {
	color: inherit;
}
a.TicketListItem-detail-milestone:hover {
	color: #00a0d2;
}

.TicketListItem > .col-extra {
	display: flex;
	font-size: 0.8em;
}

.TicketListItem > .col-extra > * {
	display: flex;
	width: 20px;
	margin-left: 0.5em;
}
